.block_dashboard .dashwrapper {
    margin-left: auto;
    margin-right: auto;
}

.block_dashboard .dashcell {
    border: 1px solid #ccc;
    float: left;
    margin: .5em;
    padding: .2em;
}

.block_dashboard .dashlabel {
    text-align:center;
}
